<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<header th:fragment="commheader">
 <h1><img src="images/back/admin_logo.png"/></h1>
 <ul class="rt_nav">
  <li><a href="http://www.deathghost.cn" target="_blank" class="website_icon">站点首页</a></li>
  <li><a href="#" class="clear_icon">清除缓存</a></li>
  <li><a href="#" class="admin_icon" >DeathGhost</a></li>
  <li><a href="#" class="set_icon">账号设置</a></li>
  <li><a th:href="toquit" class="quit_icon">安全退出</a></li>
 </ul>
</header>
<!--aside nav-->
<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar" th:fragment="commaside" >
 <h2><a href="index.html">起始页</a></h2>
 <ul>
  <li>
   <dl>
    <dt>常用布局示例</dt>
    <!--当前链接则添加class:active-->
    <dd><a th:href="product_list" class="active">商品列表</a></dd>
    <dd><a th:href="recycle_bin">商品回收站</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>订单信息</dt>
    <dd><a th:href="order_list">订单列表</a></dd>
    <!-- <dd><a href="order_detail.html">订单详情</a></dd> -->
   </dl>
  </li>
  <li>
   <dl>
    <dt>会员管理</dt>
    <dd><a th:href="user_list">会员列表</a></dd>
    <dd><a href="user_detail.html">添加会员（详情）</a></dd>
    <dd><a href="user_rank.html">会员等级</a></dd>
    <dd><a href="adjust_funding.html">会员资金管理</a></dd>
   </dl>
  </li>
  <li>
  <!--  <dl>
    <dt>基础设置</dt>
    <dd><a href="setting.html">站点基础设置</a></dd>
   </dl> -->
  </li>
  <li>
   <dl>
    <dt>配送设置</dt>
    <dd><a th:href="express_list">配送方式</a></dd>
   
   </dl>
  </li>
  <li>
   <dl>
    <dt>在线统计</dt>
    <dd><a href="discharge_statistic.html">流量统计</a></dd>
    <dd><a href="sales_volume.html">销售额统计</a></dd>
   </dl>
  </li>
  <li>
   <p class="btm_infor">© DeathGhost.cn 版权所有</p>
  </li>
 </ul>
</aside>

<style >
.dataStatistic{width:400px;height:200px;border:1px solid #ccc;margin:0 auto;margin:10px;overflow:hidden}
#cylindrical{width:400px;height:200px;margin-top:-15px}
#line{width:400px;height:200px;margin-top:-15px}
#pie{width:400px;height:200px;margin-top:-15px}
</style>
</body>
</html>