<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>全部产品</title>
    <link href="css/produ.css"rel="stylesheet">
    <link href="css/index.css"rel="stylesheet">
    <link href="css/share.css"rel="stylesheet">
    <script src="js/jquery-1.12.3.js"></script>
</head>
<body>
<!--顶部导航-->
<div id="top" th:replace="common/common::commtop"></div>

<!-- 页头 -->
<div class="headr" th:replace="common/common::commheader"></div>

<!--banner图片-->
<div class="her-banner">

</div>
<!--banner图片结束-->
<div class="content">
    <!--产品推荐开始-->
    <div class="recommand clear">
        <div class="rec-cont clear">
            <div class="rec-left">
                <div class="classily">
                    <div class="cltop">
                        <p>产品分类</p>
                    </div>
                    <div class="cltcon">
                        <p><a th:href="'produ?fparenttype='+'国产水果'">国产水果</a> </p>
                        <p><a th:href="'produ?fparenttype='+'进口水果'"> 进口水果</a></p>
                        <p style="border-bottom:0px dashed #999999;"><a href="#">新鲜时蔬</a></p>
                    </div>

                </div>
                <div class="service">
                    <div class="cltop">
                        <p>在线客服</p>
                    </div>
                    <div class="sercon">
                       <div class="qqs">
                           <p><a hidefocus="true" href="#">
                               <span class="serOnline-img0 qqImg0">&nbsp;</span>蜜桃
                           </a>
                           </p>
                           <P><a hidefocus="true" href="#">
                               <span class="serOnline-img0 qqImg0">&nbsp;</span>芒果
                           </a>
                           </P>
                       </div>
                        <div class="tims">
                            <div class="marBL-10">
                                <span class="worktime-header-img">&nbsp;</span>
                                <span class="serWorkTimeText"><b>工作时间</b></span>
                            </div>
                            <div class="serOnline-list-v "><span>周一至周五 ：8:30-17:30</span></div>
                            <div class="serOnline-list-v lastData"><span>周六至周日 ：9:00-17:00</span></div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="rec-right">
                <div class="bd">
                    <div class="bd1"  style="display: block">
                        <div th:each=" a : ${alist}" class="rcr">
                            <div class="rcr-top">
                                <img th:src=" 'images/product/' + ${a.ffilename}" width="100%">
                            </div>
                            <div class="rcr-bot">
                                <div  class="rb-top">
                                   <p th:text="${a.fname}"></p>
                                </div>
                                <div class="second_P">
                                    <span class="fk-prop">￥</span>
                                        <span th:text="${a.fprice}" class="fk-prop-price">19
                                            <span class="fk-prop-p">.00</span>
                                        </span>
                                    <span class="second_Marketprice">￥0.00</span>
                                </div>
                                <div class="buy">
                                    <a th:href="'orange?fid='+${a.fid}" class="second_mallBuy">
                                        <span style="color: white;">购买</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                 
                <div class="hd">
                    <div class="net">上一页</div>
                    <ul>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                    <div class="next"> 下一页</div>
               </div>
            </div>


        </div>
    </div>

    <!--产品推荐结束-->
  </div>
 </div>
</div>
<!--主页内容结束-->
<!--底部-->
<div class="footer" th:replace="common/common::commfooter">
</div>
</body>
<script src="js/produ.js"></script>
</html>