<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="css/back/style.css">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<script src="js/back/jquery.js"></script>
<script src="js/back/jquery.mCustomScrollbar.concat.min.js"></script>
<script>

	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
<script type="text/javascript" th:inline="javascript">
    function deliver(){
		var formData = new FormData(registForm);
		var oid =[[${oid}]];
		alert(oid);
		var onote=document.getElementById("beizhu").value;
		alert(onote);
		$.ajax({
			url : 'delivergoods?onote='+ onote
					+'&oid=' + oid , 
			type : 'post',
			data : formData,
			contentType : false,
			processData : false,
			success : function(res) {
				if (res.code == 1) {
					alert('发货成功');
				}else {
					/* console.info(res.data)	 */
					alert('发货失败');
					
					}
				}
			
		});

	}
    
    
    </script>
</head>
<body>
<!--header-->
<header th:replace="back/backCommon/common :: commheader">
</header>
<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar" th:replace="back/backCommon/common :: commaside">
 
</aside>
<!--aside nav-->

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">订单详情</h2>
      </div>
      <table class="table">
       <tr>
        <td>收件人：<span th:text="${blist.oname}">DeathGhost</span></td>
        <td>联系电话：<span th:text="${blist.ophone}">18300000000</span></td>
        <td>收件地址：<span th:text="${blist.oaddress}"></span></td>
        <td>付款时间：<span th:text="${#dates.format(blist.otime,'yyyy-MM-dd HH:mm:ss')}"></span></td>
       </tr>
       <tr>
        <td>下单时间:<span th:text="${#dates.format(blist.otime,'yyyy-MM-dd HH:mm:ss')}"></span></td>
		<td>订单总金额：<span th:text="${blist.ocost}"></span></td>
		<td>配送方式：<span th:text="${blist.express.ename}"></span></td>
        <td>评价时间时间：---</td>
       </tr>
       <tr>
        <td th:switch="${blist.otype}">订单状态：
		     <span th:case="'1'" th:text="已付款，未发货"></span>
             <span th:case="'2'" th:text="已取消"></span>
             <span th:case="'3'" th:text="已发货"></span></td>
        <td colspan="3">订单备注：<mark><span th:text="${blist.onote}"></span></mark></td>
        </tr>
      </table>
      <table class="table">
       <tr th:each="o : ${olist}">
        <td class="center"><img th:src=" 'images/product/' + ${o.product.ffilename}" width="50" height="50"/></td>
        <td>产品名称<span th:text="${o.product.fname}"></span></td>
			 <td class="center">类型：<span th:text="${o.product.fparenttype}"></span ></td>
			 <td class="center">源产地：<span th:text="${o.product.faddress}"></span> </td>
			 <td class="center">单价：<strong class="rmb_icon" th:text="${o.product.fprice}">59.00</strong></td>
			 <td class="center">数量：<strong th:text="${o.pquintity}">1</strong></td>
			 <td class="center">小计：<strong class="rmb_icon" th:text="${o.product.fprice} * ${o.pquintity}+'.00'">59.00</strong></td>
       </tr>
       
      </table>
      <aside class="mtb" style="text-align:right;">
       <label>管理员操作：</label>
       <form id="registForm" action="" method="post" >
       <input id="beizhu" type="text" class="textbox textbox_295" placeholder="管理员操作备注"/>
       <input type="button" value="发货" class="group_btn" onclick="deliver()"/>
       </form>
      </aside>
 </div>
</section>
</body>
</html>
