<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<style type="text/css">
.detail{
	width:220px;
	height:220px;
	margin-left:40px;
	float:left;

}


</style>
<link rel="stylesheet" type="text/css" href="css/back/style.css">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<script src="js/back/jquery.js"></script>
<script src="js/back/jquery.mCustomScrollbar.concat.min.js"></script>
<script>

	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
</head>
<body>
<!--header-->
<header th:replace="back/backCommon/common :: commheader">
 
</header>
<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar" th:replace="back/backCommon/common :: commaside">
 
</aside>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">添加商品</h2>
       <a class="fr top_rt_btn" th:href="product_list">返回产品列表</a>
      </div>
    <form action="product_add()" method="post">
     <section>
      <ul class="ulColumn2">
       <li>
        <span class="item_name" style="width:120px;" >商品名称：</span>
        <input type="text" class="textbox textbox_295" name="fname"
        	style="width:150px "placeholder="商品名称..."/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">品牌：</span>
        <select class="select"  name="fparenttype">
         <option value="国产水果" >国产水果</option>
         <option value="进口水果" >进口水果</option>
        </select>
        
       </li>
       <li>
        <span class="item_name" style="width:120px;">分类：</span>
        <select class="select" th:each="t : ${tlist}" >
        <option th:value="t.tid" th:text="t.tname"></option>
        </select>
       </li>
       <li>
        <span class="item_name" style="width:120px;">源产地：</span>
        <input type="text" class="select" style="width:90px;" name="faddress"  placeholder="商品源产地..."/>
        <!-- <label class="single_selection"><input type="radio" name="name"/>是否精品</label>
        <label class="single_selection"><input type="radio" name="name"/>是否热销</label>
        <label class="single_selection"><input type="radio" name="name"/>是否新品</label> -->
       </li>
       <li>
        <span class="item_name" style="width:120px;">商品图片：</span>
        <label class="uploadImg">
         <input type="file" name="ffilename"/>
         <span>上传图片</span>
        </label>
       </li>
       <li>
        <span class="item_name" style="width:120px;">商品价格：</span>
        <input class="select" name="fprice" placeholder="请输入商品价格"/>
        
       </li>
      
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn"/>
       </li>
      </ul>
     </section>
    </form> 
 </div>
</section>
<script src="js/ueditor.config.js"></script>
<script src="js/ueditor.all.min.js"> </script>


</body>
</html>
